.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:black;
  display: flex;
  padding: 15px;
  justify-content: space-around;
}

body{
  font-family: 'Nova Slim', cursive !important;
}


a{
  text-decoration:none;
  color: white !important;
  font-size: 18px;
}

.search{
  background-color: black;
  height: 70px;
  padding-top: 8px;
  display: flex;
  justify-content:center;
  align-items:center;
}

.menu-superior{
  display: flex;
}

.card{
  background-color: transparent !important;
}


footer{
  display: flex !important;
  justify-content:space-around;
  padding-top: 25px;
  height:220px;
  background-color: black;
  color: white;
}

.cupom{
  background-color:#1d1bb5 ;
  font-size: 20px;
  height:100px;
  width:100px;
  border: 1px solid transparent;
  border-radius:50px;
  padding-top: 35px;
  position: relative;
  top: -60px;
  animation: bounce 1s normal infinite;
  cursor: pointer;
}

@keyframes bounce{
  0% { transform: translateY(0);}

  25% { transform: translateY(-80px);}

  50% { transform: translateY(-200px);}

  75% { transform: translateY(-80px);}

  100% { transform: translateY(0);}
}